## Converting Data Types

In [1]:
num_int = 7

type(num_int)

int

In [2]:
num_str = '7'

type(num_str)

str

In [3]:
num_sum = num_int + num_str

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
# convert the string to a number
num_str_conv = int(num_str)

print(num_str_conv)
type(num_str_conv)

7

int

In [5]:
num_sum = num_int + num_str_conv

print(num_sum)

14

In [6]:
type(num_sum)

int

In [7]:
# convert list, set, and tuple
list_type = [1, 2, 3]

type(list_type)

list

In [8]:
tuple(list_type), type(tuple(list_type))

((1, 2, 3), tuple)

In [9]:
list_2 = [1, 2, 3, 3, 2, 3, 1, 3]

type(list_2)

list

In [10]:
set(list_2)

{1, 2, 3}

In [11]:
type(set(list_2))

set

In [12]:
# dictionary
dict_type = {'name': 'Xinyue', 'age': 28, 'hair': 'black'}

type(dict_type)

dict

In [13]:
dict_type.items()

dict_items([('name', 'Xinyue'), ('age', 28), ('hair', 'black')])

In [14]:
dict_type.values()

dict_values(['Xinyue', 28, 'black'])

In [15]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [16]:
list(dict_type.keys())

['name', 'age', 'hair']

In [17]:
list(dict_type.values())

['Xinyue', 28, 'black']

In [18]:
# long string
long_str = 'I like studying'
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 's', 't', 'u', 'd', 'y', 'i', 'n', 'g']

In [19]:
set(long_str)

{' ', 'I', 'd', 'e', 'g', 'i', 'k', 'l', 'n', 's', 't', 'u', 'y'}